---
import { getCollection, render } from 'astro:content'
import RootLayout from '@/layouts/RootLayout.astro'

export const getStaticPaths = async () => {
  const pages = await getCollection('slash')
  if (!pages) return []
  return pages.map((post) => ({
    params: { id: post.id },
    props: { post },
  }))
}

const { title, description } = Astro.props.post.data
const { Content, headings } = await render(Astro.props.post)

const toc = headings.filter((heading) => heading.depth === 2)
---

<RootLayout {title} {description}>
  <div class="pt-6 pb-8 sm:pb-12 md:pb-20">
    <h2
      class="dark:text-primary-100 text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14"
    >
      {title}
    </h2>
    <p
      class="prose pt-2 text-lg leading-7 text-pretty text-gray-500 md:pt-4 dark:text-gray-300"
    >
      {description}
    </p>

    <div class="pt-8 sm:pt-12 md:pt-20">
      <ul class="justify-center gap-4 lg:flex">
        {
          toc.map(({ slug, text }) => (
            <li>
              <a
                href={`#${slug}`}
                class="themed-ui-link hover:text-primary-800 dark:hover:text-primary-300 p-2 text-xl font-bold"
              >
                {text}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
  <div class="prose dark:prose-invert max-w-none">
    <Content />
  </div>
</RootLayout>
