---
import Card from '@/components/Card.astro'
import { useTranslations } from '@/i18n'
import RootLayout from '@/layouts/RootLayout.astro'
import sumerianAppImg from '../assets/apps/learn-sumerian-cuneiforms.jpg'
import ge999VrImg from '../assets/apps/ge999vr.jpg'
import alecImg from '../assets/apps/alec-sega-emulator.png'

const t = useTranslations()

// For images needing a pixelated rendering, load them optimised from /public
// and specify 'pixelated' as imgType.

const data = [
  {
    title: 'Learn Sumerian and cuneiforms',
    date: 2024,
    description: `A work-in-progress app to learn ancient Sumerian grammar and read cuneiforms. I'm currently developing the app and writing the content myself.`,
    imgSrc: sumerianAppImg,
    imgType: 'default',
    href: 'https://learn-to-read-sumerian.netlify.app',
  },
  {
    title: 'Galaxy Express 999 Virtual Tour',
    date: 2022,
    description: `With this VR experience, you can finally see the universe through the eyes of a young boy, as he sets out to make his dreams come true.`,
    imgSrc: ge999VrImg,
    imgType: 'default',
    href: 'https://edo999.itch.io/ge999vr',
  },
  {
    title: 'Kim Magikal ⭐ at Saraland ⭐',
    date: 2017,
    description: `A cute retro platform game I made with Pico-8. You can play Kim Magikal ⭐ at Saraland ⭐ online for free.`,
    imgSrc: '/img/apps/kim-magikal-at-saraland.png',
    imgType: 'pixelated',
    href: 'https://edo999.itch.io/kim-magikal',
  },
  {
    title: 'Maniac Mansion Mobile',
    date: 2015,
    description: `The famous NES point'n click game optimised for touch screens. "Warning!! Trespassers will be horribly mutilated".`,
    imgSrc: '/img/apps/maniac-mansion-mobile.png',
    imgType: 'pixelated',
    href: 'https://maniac-mansion-mobile.5apps.com',
  },
  {
    title: 'Alec',
    date: 2013,
    description: `Emulator for Sega Master System & Game Gear optimised for low-end mobile devices. It comes with some homebrew games builtin.`,
    imgSrc: alecImg,
    // imgType: 'pixelated',
    href: 'https://gmarty.github.io/jsSMS/alec',
  },
]
---

<RootLayout
  title={t('pages.apps.title')}
  description={t('pages.apps.description')}
>
  <div>
    <div class="space-y-2 pt-6 pb-8 sm:pb-12 md:space-y-5 md:pb-20">
      <h2
        class="dark:text-primary-100 text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14"
      >
        {t('pages.apps.allApps')}
      </h2>
      <p class="text-lg leading-7 text-gray-500 dark:text-gray-300">
        {t('pages.apps.showcase')}
      </p>
    </div>
    <div class="grid gap-8 md:grid-cols-2">
      {
        data.map(
          ({ title, date, description, imgSrc, imgType, href }, index) => (
            <Card
              {index}
              {title}
              {date}
              {description}
              {imgSrc}
              {imgType}
              {href}
            />
          )
        )
      }
    </div>
  </div>
</RootLayout>
