---
import { getCollection } from 'astro:content'

import { ITEMS_PER_PAGE } from '@/consts'
import RootLayout from '@/layouts/RootLayout.astro'
import Link from '@/components/Link.astro'
import ListPostCover from '@/components/ListPostCover.astro'
import { excludeDrafts, sortBlogPosts } from '@/functions'
import { useTranslations } from '@/i18n'

const t = useTranslations()

const posts = await getCollection('blog', excludeDrafts).then(sortBlogPosts)
---

<RootLayout
  title={t('siteMetadata.title')}
  description={t('siteMetadata.description')}
>
  <div>
    <ul class="divide-y divide-gray-300 dark:divide-gray-600">
      {!posts.length && t('pages.home.noPosts')}
      {
        posts.slice(0, ITEMS_PER_PAGE).map((post) => {
          const { title, description } = post.data
          return (
            <li class="py-12">
              <article>
                <div class="space-y-2 xl:grid xl:grid-cols-4 space-x-4 xl:space-y-0 xl:items-stretch">
                  <ListPostCover {post} class="space-y-5 xl:col-span-1" />
                  <div class="space-y-5 xl:col-span-3">
                    <div class="space-y-6">
                      <div>
                        <h2 class="text-2xl font-bold leading-8 tracking-tight">
                          <Link
                            href={`/posts/${post.id}`}
                            class="text-gray-900 dark:text-primary-100"
                          >
                            {title}
                          </Link>
                        </h2>
                      </div>
                      <div class="prose max-w-none text-gray-500 dark:text-gray-300">
                        {description}
                      </div>
                    </div>
                    <div class="text-base font-medium leading-6">
                      <Link
                        href={`/posts/${post.id}`}
                        class="themed-link"
                        aria-label={t('pages.home.readMoreAbout', { title })}
                      >
                        {t('pages.home.readMore')} &rarr;
                      </Link>
                    </div>
                  </div>
                </div>
              </article>
            </li>
          )
        })
      }
    </ul>
  </div>
  <div class="space-y-2 pb-8 sm:pb-12 md:pb-20 pt-6 md:space-y-5">
    <nav class="text-right">
      <Link
        href="/posts/2"
        rel="next"
        class="themed-link"
        aria-label={t('pages.home.viewAllPosts')}
      >
        {t('pages.home.viewAllPosts')} &rarr;
      </Link>
    </nav>
  </div>
</RootLayout>
