---
import { Image } from 'astro:assets'
import { type CollectionEntry, getCollection } from 'astro:content'

import SocialIcon from '@/components/social-icons/index.astro'
import RootLayout from './RootLayout.astro'
import Link from '../components/Link.astro'
import { sortBlogPosts, excludeDrafts } from '@/functions'
import { ITEMS_PER_PAGE } from '@/consts'
import { useTranslations } from '@/i18n'

const t = useTranslations()

interface Props {
  content: CollectionEntry<'authors'>['data']
  id: string
}

const {
  name,
  avatar,
  occupation,
  company,
  shortBio,
  // email,
  mastodon,
  linkedin,
  gitlab,
  github,
  pixelfed,
  facebook,
  youtube,
  twitter,
} = Astro.props.content

// Get the author's posts
const authorPosts = await getCollection('blog', (entry) => {
  return (
    excludeDrafts(entry) &&
    entry.data.authors.some((author) => author.id === Astro.props.id)
  )
})
  .then(sortBlogPosts)
  .then((posts) => {
    return posts.slice(0, ITEMS_PER_PAGE).map((post) => {
      return { title: post.data.title, id: post.id }
    })
  })
---

<RootLayout title={name} description={shortBio}>
  <div>
    <div class="space-y-2 pt-6 pb-8 sm:pb-12 md:space-y-5 md:pb-20">
      <h2
        class="dark:text-primary-100 text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10 md:text-6xl md:leading-14"
      >
        {t('layouts.authorLayout.aboutAuthor', { author: 'Guillaume' })}
      </h2>
    </div>
    <div
      class="items-start space-y-2 xl:grid xl:grid-cols-3 xl:space-y-0 xl:gap-x-8"
    >
      <div class="flex flex-col items-center space-x-2 pt-8">
        {
          avatar && (
            <Image
              src={avatar}
              alt="avatar"
              width={192}
              height={192}
              loading="eager"
              class="size-48 rounded-full"
              format="webp"
            />
          )
        }
        <h2
          class="dark:text-primary-100 pt-4 pb-2 text-2xl leading-8 font-bold tracking-tight text-gray-900"
        >
          {name}
        </h2>
        <div class="text-gray-500 dark:text-gray-300">{occupation}</div>
        <div class="text-gray-500 dark:text-gray-300">{company}</div>
        <div class="flex gap-x-4 pt-6">
          <!-- {email && <SocialIcon kind="mail" href={`mailto:${email}`} />} -->
          {mastodon && <SocialIcon kind="mastodon" href={mastodon} />}
          {linkedin && <SocialIcon kind="linkedin" href={linkedin} />}
          {gitlab && <SocialIcon kind="gitlab" href={gitlab} />}
          {github && <SocialIcon kind="github" href={github} />}
          {pixelfed && <SocialIcon kind="pixelfed" href={pixelfed} />}
          {facebook && <SocialIcon kind="facebook" href={facebook} />}
          {youtube && <SocialIcon kind="youtube" href={youtube} />}
          {twitter && <SocialIcon kind="twitter" href={twitter} />}
        </div>
      </div>
      <div class="d-flex max-w-none xl:col-span-2">
        <div class="prose dark:prose-invert pt-8 pb-8">
          <slot />
        </div>
      </div>
    </div>
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 xl:grid-cols-3">
      <iframe
        src="https://mastofeed.com/apiv2/feed?userurl=https%3A%2F%2Findieweb.social%2Fusers%2Fgmarty&theme=auto&size=100&header=false&replies=false&boosts=false"
        loading="lazy"
        allowfullscreen
        title="Mastodon"
        sandbox="allow-top-navigation allow-scripts allow-popups allow-popups-to-escape-sandbox"
        class="h-96 w-full overflow-hidden rounded border-0"></iframe>
      <iframe
        src="https://pixelfed.social/gmarty/embed"
        loading="lazy"
        allowfullscreen
        title="Pixelfed"
        class="h-96 w-full overflow-hidden rounded border-0"></iframe>

      {
        authorPosts.length > 0 && (
          <div>
            <h2 class="text-2xl leading-8 font-bold tracking-tight text-gray-900 dark:text-gray-100">
              {t('layouts.authorLayout.latestPosts')}
            </h2>
            <ul class="mt-4 space-y-4">
              {authorPosts.map(({ id, title }) => (
                <li>
                  <Link
                    href={`/posts/${id}`}
                    class="text-gray-900 hover:text-gray-500 dark:text-gray-100 dark:hover:text-gray-400"
                  >
                    {title}
                  </Link>
                </li>
              ))}
            </ul>
          </div>
        )
      }
    </div>
  </div>
</RootLayout>
