//- Mixin for post, used on homepage and post page
mixin postHead(post)
  .post-head.group
    a(href="#{data.baseUrl}#{post.url}")
      h1.post-title= post.title
    span.post-date!= [post.date.getUTCFullYear(), ('0' + (post.date.getUTCMonth() + 1)).substr(-2), ('0' + post.date.getUTCDate()).substr(-2)].join('/')
    span.post-reading-time

mixin post(post)
  mixin postHead(post)
  .post-body.markdown!= post.content

doctype 5
html(lang="en-GB")
  head
    meta(charset="utf-8")
    meta(http-equiv="Content-Security-Policy", content="default-src 'self' http://gu.illau.me; script-src 'self' 'unsafe-inline' 'unsafe-eval' http://gu.illau.me http://www.google-analytics.com http://hnbutton.appspot.com https://platform.twitter.com https://apis.google.com http://gmarty.disqus.com; style-src 'self' 'unsafe-inline' http://gu.illau.me http://fonts.googleapis.com http://a.disquscdn.com; img-src 'self' http://gu.illau.me https://*.googleusercontent.com http://www.google-analytics.com https://syndication.twitter.com https://*.disqus.com https://*.disquscdn.com; font-src 'self' http://gu.illau.me http://fonts.gstatic.com https://fonts.gstatic.com; object-src 'none'; frame-src https://www.youtube-nocookie.com http://hnbutton.appspot.com http://disqus.com https://apis.google.com https://accounts.google.com https://plusone.google.com http://platform.twitter.com;")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(name="theme-color", content="#ff8c00")
    block head
      title="A blog by G.C. Marty"
      meta(name="description", content="A blog about JavaScript, HTML, the web platform, NLP and to how optimise them all!")
      base(href="http://gu.illau.me#{data.baseUrl}", target="_top")
    link(href="#{data.baseUrl}css/main.css", rel="stylesheet")
    script(src="/js/analytics.js", defer, async)
    script(src="/js/ui.js", defer, async)
    link(href="/manifest.webmanifest", rel="manifest")
    link(href="http://feeds.feedburner.com/just-a-blog", rel="alternate", type="application/rss+xml", title="A blog by G.C. Marty")
    link(href="#{data.baseUrl}favicon.ico", rel="shortcut icon", type="image/x-icon")
  body
    nav
      h1.name
        a(href="#{data.baseUrl}") A blog
          small  by G.C. Marty
      .menu.icon-menu
      ul.nav-links
        li.text-link
          a(href="#{data.baseUrl}about.html") about
        li.text-link
          a(href="#{data.baseUrl}apps.html") apps
        li.text-link
          a(href="#{data.baseUrl}talks.html") talks
        li.text-link
          a(href="#{data.baseUrl}posts.html") posts
      .social-media
        a(href="https://twitter.com/g_marty")
          img(src="/img/twitter.svg")
        a(href="https://github.com/gmarty")
          img(src="/img/github.svg")
        a(href="https://uk.linkedin.com/in/gmarty/en")
          img(src="/img/linkedin.svg")
    .content
      .inner-content
        .scroller
          block content
