//- Mixin for post, used on homepage and post page
mixin postHead(post)
  .post-head.group
    a(href="#{data.baseUrl}#{post.url}")
      h1.post-title= post.title
    span.post-date(style="bottom: 30px;")!= [post.date.getUTCFullYear(), post.date.getUTCMonth() + 1, post.date.getUTCDate()].join(' &#183; ')
    span.post-reading-time

mixin post(post)
  mixin postHead(post)
  .post-body.markdown!= post.content

doctype 5
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="shortcut icon", type="image/x-icon", href="#{data.baseUrl}favicon.ico")
    link(href="#{data.baseUrl}css/main.css", rel="stylesheet")
    block head
      title= "Just a blog by G.C. Marty"
      base(href="http://gu.illau.me#{data.baseUrl}", target="_top")
    script.
      // We store the client ID in the local storage rather than in a cookie.
      (function(G,o,O,g,l){G.GoogleAnalyticsObject=O;G[O]||(G[O]=function(){(G[O].q=G[O].q||[]).push(arguments)});G[O].l=Date.now();g=o.createElement('script'),l=o.scripts[0];g.src='//www.google-analytics.com/analytics.js';l.parentNode.insertBefore(g,l)}(this,document,'ga'));
      ga('create', 'UA-207391-17', {
        'storage': 'none',
        'clientId': localStorage.getItem('gaClientId'),
        'siteSpeedSampleRate': 100,
        'anonymizeIp': true // If privacy is a matter to you, activate this setting and read https://support.google.com/analytics/answer/2763052
      });
      ga(function(tracker) {
        localStorage.setItem('gaClientId', tracker.get('clientId'));
      });
      ga('send','pageview')
  body
    nav
      h1.name
        a(href="#{data.baseUrl}") Just a blog
          small by G.C. Marty
      .menu.icon-menu
      ul.nav-links
        li.text-link
          a(href="#{data.baseUrl}about.html") about
        li.text-link
          a(href="#{data.baseUrl}archives.html") archives
      .social-media
        a.icon-github(href="https://github.com/gmarty")
        a.icon-twitter(href="http://twitter.com/g_marty")
    .content
      block content
    script.
      window.addEventListener('load', function() {
        'use strict';

        var $navBar = document.querySelector('nav');

        // If touchscreen listen for touch, if not listen for click.
        var hitEvent = 'ontouchstart' in document.documentElement ? 'touchstart' : 'click';

        // Toggle the nav menu list when the user clicks the nav menu button.
        document.querySelector('.menu').addEventListener(hitEvent, function(event) {
          $navBar.classList.toggle('nav-show');
        }, false);

        document.querySelector('.content').addEventListener(hitEvent, function(event) {
          if ($navBar.classList.contains('nav-show')) {
            $navBar.classList.remove('nav-show');
          }
        }, false);
      });

      // For each post, add the estimated reading time.
      var headersElt = document.querySelectorAll('div.post-head');
      var postCounter = 0;
      Array.prototype.forEach.call(document.querySelectorAll('div.post-body'), function(postElt) {
        var postEltClone = postElt.cloneNode(true);
        var codeEltList = postEltClone.getElementsByTagName('code');
        for (var i = codeEltList.length - 1; i >= 0; i--) {
          var codeElt = codeEltList[i];
          codeElt.parentNode.removeChild(codeElt);
        }
        var text = postEltClone.textContent;
        var readingTime = Math.ceil((text.match(/\S+/g)).length / 200);
        var textNode = '<img src="/img/clock.svg" width="15" height="15" alt="Estimated reading time" title="Estimated reading time"/>' +
          (readingTime == 1 ? '1 minute' : readingTime + ' minutes');
        headersElt[postCounter++].querySelector('span.post-reading-time').innerHTML = textNode;
      });
