//- Mixin for post, used on homepage and post page
mixin postHead(post)
  .post-head.group
    a(href="#{data.baseUrl}#{post.url}")
      h1.post-title= post.title
    span.post-date!= [post.date.getUTCFullYear(), ('0' + (post.date.getUTCMonth() + 1)).substr(-2), ('0' + post.date.getUTCDate()).substr(-2)].join('/')
    span.post-reading-time

mixin post(post)
  mixin postHead(post)
  .post-body.markdown!= post.content

doctype 5
html(lang="en-GB")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width,initial-scale=1")
    meta(name="theme-color", content="#ff8c00")
    block head
      title="Just a blog by G.C. Marty"
      meta(name="description", content="Just a blog about JavaScript, HTML, the web platform, NLP and to how optimise them all!")
      base(href="http://gu.illau.me#{data.baseUrl}", target="_top")
    link(href="#{data.baseUrl}css/main.css", rel="stylesheet")
    script(src="/js/analytics.js", defer, async)
    script(src="/js/ui.js", defer, async)
    link(href="/manifest.webmanifest", rel="manifest")
    link(href="http://feeds.feedburner.com/just-a-blog", rel="alternate", type="application/rss+xml", title="Just a blog by G.C. Marty")
    link(href="#{data.baseUrl}favicon.ico", rel="shortcut icon", type="image/x-icon")
  body
    nav
      h1.name
        a(href="#{data.baseUrl}") Just a blog
          small  by G.C. Marty
      .menu.icon-menu(style="display:none")
      ul.nav-links
        li.text-link
          a(href="#{data.baseUrl}about.html") about
        li.text-link
          a(href="#{data.baseUrl}apps.html") apps
        li.text-link
          a(href="#{data.baseUrl}talks.html") talks
        li.text-link
          a(href="#{data.baseUrl}archives.html") archives
      .social-media
        a.icon-github(href="https://github.com/gmarty")
        a.icon-twitter(href="https://twitter.com/g_marty")
    .content
      block content
