---
import { getCollection } from 'astro:content'
import { type CollectionEntry } from 'astro:content'

import Link from '../components/Link.astro'
import Pagination from '../components/Pagination.astro'
import RootLayout from './RootLayout.astro'
import Tag from '../components/Tag.astro'
import FormattedDate from '../components/FormattedDate.astro'
import type { Page } from 'astro'
import { excludeDrafts, sortBlogPosts } from '@/functions'
import { useTranslations } from '@/i18n'

const t = useTranslations()

interface Props {
  title: string
  description: string
  titleTemplate?: string
  page: Page<CollectionEntry<'blog'>>
  robots?: string
}

const tags = await getCollection('tags')
const posts = await getCollection('blog', excludeDrafts).then(sortBlogPosts)

const tagCount = (id: CollectionEntry<'tags'>['id']) => {
  if (!posts) return 0
  return posts.filter((post) => post.data.tags.some((tag) => tag.id === id))
    .length
}

const isCurrentPath = (path: string) => Astro.url.pathname.startsWith(path)

const { title, description, robots, page, titleTemplate } = Astro.props
const hasDefaultSlot = Astro.slots.has('default')
const isBlogPage = Astro.url.pathname.startsWith('/posts')
---

<RootLayout {title} {description} {robots} {titleTemplate}>
  <div>
    {
      hasDefaultSlot && (
        <div class="pt-6 pb-6">
          <div class="prose dark:prose-invert py-4">
            <slot />
          </div>
        </div>
      )
    }
    <div class="flex sm:space-x-24">
      <div
        class="bg-primary-100 hidden h-full max-h-screen max-w-[280px] min-w-[280px] flex-wrap overflow-auto rounded-lg pt-5 sm:flex dark:bg-gray-900"
      >
        <div class="px-6 py-4">
          {
            isBlogPage ? (
              <div class="font-bold text-gray-500 dark:text-gray-300">
                {t('layouts.listWithTagsLayout.allPosts')}
              </div>
            ) : (
              <Link href="/posts" class="themed-link font-bold">
                {t('layouts.listWithTagsLayout.allPosts')}
              </Link>
            )
          }
          <ul>
            {
              tags.map(({ id, data }) => (
                <li class="my-3">
                  {isCurrentPath(`/tag/${id}`) ? (
                    <h3 class="inline px-3 py-2 text-sm font-bold text-gray-500 dark:text-gray-300">
                      {`${data.name} (${tagCount(id)})`}
                    </h3>
                  ) : (
                    <>
                      <Link
                        href={`/tags/${id}`}
                        class="py-2 pl-3 text-sm font-medium text-gray-500 hover:text-gray-700 dark:text-gray-300 dark:hover:text-gray-100"
                        aria-label={`View posts tagged ${data.name}`}
                      >
                        {`${data.name}`}
                      </Link>
                      <span class="text-gray-900 dark:text-gray-100">{`(${tagCount(id)})`}</span>
                    </>
                  )}
                </li>
              ))
            }
          </ul>
        </div>
      </div>
      <div>
        <ul>
          {
            page.data.map(
              ({ id, data: { date, title, description, tags } }) => (
                <li class="py-5">
                  <article class="flex flex-col space-y-2 xl:space-y-0">
                    <dl>
                      <dt class="sr-only">
                        {t('layouts.listWithTagsLayout.publishedOn')}
                      </dt>
                      <dd class="text-base leading-6 font-medium text-gray-500 dark:text-gray-300">
                        <FormattedDate date={date} />
                      </dd>
                    </dl>
                    <div class="space-y-3">
                      <div>
                        <h2 class="text-2xl leading-8 font-bold tracking-tight">
                          <Link
                            href={`/posts/${id}`}
                            class="dark:text-primary-100 text-gray-900"
                          >
                            {title}
                          </Link>
                        </h2>
                        <div class="flex flex-wrap">
                          {tags.map(({ id }) => (
                            <Tag id={id} />
                          ))}
                        </div>
                      </div>
                      <div class="prose max-w-none text-gray-500 dark:text-gray-300">
                        {description}
                      </div>
                    </div>
                  </article>
                </li>
              )
            )
          }
        </ul>
        {(page.url.next || page.url.prev) && <Pagination page={page} />}
      </div>
    </div>
  </div>
</RootLayout>
